<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WebApplicationTesting"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.Assignment2.TSRTCHomebar"/>
        <listEntry value="Assignment6.OrangeHRM_ScreenShorts"/>
        <listEntry value="com.WebTable.WebTable_FirstRow_FirstRowOfCell_GetCityName"/>
        <listEntry value="Assiginment7.OHrm_valid_InvalidCreaditionalTestData_PrintExcel"/>
        <listEntry value="com.Loops.NestedLoopsExample"/>
        <listEntry value="com.Arrays.MultiDimensionalArrayExample"/>
        <listEntry value="com.OrangeHRMApplication_TestNG.LogInTest"/>
        <listEntry value="com.excel.ExcelPrintData"/>
        <listEntry value="com.OHRM.OrangeHRM_LogInTest"/>
        <listEntry value="com.TestNG.Annotations2"/>
        <listEntry value="com.TestNG.Annotations3"/>
        <listEntry value="com.OrangeHRMApplication_TestNG.MultipulData_Login"/>
        <listEntry value="com.OrangeHRMApplication_AutoIT.AddEmployeeTest_AutoIT"/>
        <listEntry value="com.OrengHRM.AdminAutoClick"/>
        <listEntry value="com.WebTable.BaseTes"/>
        <listEntry value="com.Assignment3.OrangeHRMLoginExcel"/>
        <listEntry value="com.DropDown.DropDown_GetOptionalValues"/>
        <listEntry value="com.Arrays.SingleDimensioanlArrayExample"/>
        <listEntry value="com.Frames.BaseTest"/>
        <listEntry value="com.excel.Excel_Read_SingleTestData"/>
        <listEntry value="Assignment6.OrangHRM_ScreenShorts_Public"/>
        <listEntry value="com.OrengHRM.ORHMLogin"/>
        <listEntry value="com.WebTable.CapturingCompleteWebTableData_Excel"/>
        <listEntry value="com.Assinment8.OrangHRM_Entering_AddAdmin_MultipleData"/>
        <listEntry value="com.DecisionMakingStatement.IfElseIfExample"/>
        <listEntry value="com.WebTable.CapturingCompleteWebTableData"/>
        <listEntry value="com.OrengHRM.ORHMUrlAddress"/>
        <listEntry value="com.OrengHRM.ORHMHomePageTile"/>
        <listEntry value="com.OrangeHRMApplication_TestNG.BaseTest"/>
        <listEntry value="com.Assignment2.TSRTC"/>
        <listEntry value="com.config.OrangeHRM_Properties"/>
        <listEntry value="com.ApplicationLaunch.NavigateTo_Bing_HomePage"/>
        <listEntry value="com.OrengHRM.AutoLogOut"/>
        <listEntry value="com.Frames.JQuery_GetText"/>
        <listEntry value="com.Assignment4.TSRTCscreenSHORTS"/>
        <listEntry value="com.DecisionMakingStatement.IfElseExample"/>
        <listEntry value="com.OrangeHRMApplication_AutoIT.BaseTest"/>
        <listEntry value="com.StringComparision.StringExamples"/>
        <listEntry value="com.Assignment5.OrangHRM_PIM_AddEmployee"/>
        <listEntry value="com.GetTitle.GetTitle_BingHomePage"/>
        <listEntry value="com.Arrays.ObjectArrayExample"/>
        <listEntry value="com.Assignment2.TSRTC_HomePage_HeaderBlock_LinksTesting"/>
        <listEntry value="com.Arrays.ArrayListExample"/>
        <listEntry value="com.Assinment8.OrangHRM_Entering_Single_Add_AdminData"/>
        <listEntry value="com.config.BaseTest"/>
        <listEntry value="com.DecisionMakingStatement.IfExample"/>
        <listEntry value="com.Assignment4.Screen"/>
        <listEntry value="com.DropDown.OsmaniaUniversity_SelectLanguage"/>
        <listEntry value="com.Inheritance.MethodExample2"/>
        <listEntry value="com.WebTable.WebTable_FirstColoumnData_ExportToExcel"/>
        <listEntry value="com.getUrl.GetURl_GoogleHomePage"/>
        <listEntry value="com.Inheritance.MethodExample3"/>
        <listEntry value="com.Loops.DoWhileExamples"/>
        <listEntry value="com.excel.Writet_To_TestData"/>
        <listEntry value="com.Assignment.AutomateTheBrowser"/>
        <listEntry value="com.Inheritance.MethodExample1"/>
        <listEntry value="com.Assignment.Instagram"/>
        <listEntry value="com.Assignment.Madhu"/>
        <listEntry value="com.ValidatingTitle.ValidatingTitle_BingHomePage"/>
        <listEntry value="com.Frames.ResizableTest"/>
        <listEntry value="com.TestNG.Annotations"/>
        <listEntry value="com.Baseclass"/>
        <listEntry value="com.DecisionMakingStatement.NestedIf"/>
        <listEntry value="com.WebTable.DynamicWebTable"/>
        <listEntry value="com.Frames.DragAndDropOperation"/>
        <listEntry value="com.WebTable.FirstColumn_GetCItyNames"/>
        <listEntry value="com.MyFirstJavaProgram.MyFirstJavaProgram"/>
        <listEntry value="com.DropDown.OsmaniaUniversity_SelectLanguages"/>
        <listEntry value="com.BrowserAutomation.TestingBrowsers"/>
        <listEntry value="com.Variable.VariableExamples"/>
        <listEntry value="com.UserDefinedMethods.MethodExample4"/>
        <listEntry value="com.UserDefinedMethods.MethodExample3"/>
        <listEntry value="com.UserDefinedMethods.MethodExample2"/>
        <listEntry value="com.UserDefinedMethods.MethodExample1"/>
        <listEntry value="com.OrengHRM.ORHMTitle"/>
        <listEntry value="com.OrengHRM.ORHMHomePage"/>
        <listEntry value="com.Loops.WhileLoopExample"/>
        <listEntry value="com.ScreenShorts.ScreeenShorts"/>
        <listEntry value="com.StringComparision.StringExamples2"/>
        <listEntry value="com.ValidatingURlAddress.ValidatingURLAddress_GoogleHomePage"/>
        <listEntry value="com.Assignment1.TSRTCHomeBarName"/>
        <listEntry value="com.Alert.Tsrtc_HandlingAlert"/>
        <listEntry value="com.DecisionMakingStatement.SwitchExample"/>
        <listEntry value="com.OrangeHRMApplication_AutoIT_excel"/>
        <listEntry value="com.Loops.ForLoopExample"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
